<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="HttpProtocol" value="http"/>
    <add key="Host" value="localhost"/>
    <add key="RootPath" value="/"/>
    <add key="Port" value="80"/>
    <add key="AutoCreateUrlReservations" value="true"/>
    <add key="ServiceUser" value="Everyone"/>
    <add key="AutoLog" value="true"/>
    <!--Very basic authentication. Useless if machine is physically unsecure or open on network-->
    <add key="AuthenticateUser" value="false"/>
    <add key="Username" value="admin"/>
    <add key="Password" value="password"/>
  </appSettings>
</configuration>